{
  "presets": [
    ["env", { "modules": false }],
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "env": {
    "commonjs": {
      "presets": [
        "env",
        "react"
      ],
      "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        ["transform-runtime", {
          "polyfill": false,
          "regenerator": true
        }]
      ],
    },
    "test": {
      "presets": [
        "env",
        "react"
      ],
      "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        ["transform-runtime", {
          "polyfill": false,
          "regenerator": true
        }]
      ],
    }
  }
}
